---
title: "The Mingles Event"
layout: splash
date: 2020-01-08T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/wines.jpg
  actions:
    - label: "Coming Soon"
      url: ""
excerpt: "당신이 기다렸던 Mingles의 이벤트들"
intro: 
  - title: "Events"
feature_row:
  - image_path: assets/images/1.jpg
    alt: "placeholder image 1"
    title: "Mingle Mangle"
    excerpt: "지금, 설레임 한잔해요"
    url: ""
    btn_label: "성황리에 마감되었습니다"
    btn_class: "btn--warning"
  - excerpt: ""
---

{% include feature_row id="intro" type="center" %}
{% include feature_row type="center" %}

<div>
<center>Mingle Mangle<br/></center>
</div>
<br/>

<center>
☆우리들만의 룰☆<br/>
남10, 여10이 모여 1:1테이블에서 십분씩, <br/>돌아가며 총 10명의 이성과 100분간 라운드 테이블 미팅을 진행해요.<br/>
100분간 설렘수치 높여봐요 우리 모두 다같이. <br/>
</center>

