---
title: "The Mingles Event"
layout: splash
date: 2020-01-08T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/wines.jpg
  actions:
    - label: "Coming Soon"
      url: ""
excerpt: "당신이 기다렸던 Mingles의 이벤트들"
intro: 
  - title: "Events"
feature_row:
  - image_path: assets/images/1.jpg
    alt: "placeholder image 1"
    title: "Mingle Mangle"
    excerpt: "지금, 설레임 한잔해요"
    url: "https://mingles.page.link/0128"
    btn_label: "신청하기"
    btn_class: "btn--warning"
  - excerpt: ""
---

{% include feature_row id="intro" type="center" %}

{% include feature_row type="center" %}

<div>
<center>Mingle Mangle<br/>
● 장소 : 상수, 고작 수요일(<a href="http://naver.me/xyQRNWjf">http://naver.me/xyQRNWjf</a>)<br/>
● 일시 : 1/18(토) 11:30a.m. / 3:15p.m. 중 택 1<br/>
● 참가비 : 3만원(티/와인 및 다과, 장소대관료, 운영/소품 비용 포함)<br/>
● 입금계좌 : 79791827677 카카오뱅크 - 이탐<br/>
● 참가기준: 86년생~96년생 직장인 청춘남녀<br/></center>
</div>
<br/>


<center>
  <p>
  
  <strong>11:30 a.m</strong>
  <a href="https://mingles.page.link/0128" class="btn btn--warning">남자 6/10 </a>
  <a href="https://mingles.page.link/0128" class="btn btn--info">여자 5/10 </a>
  
  <br/>
    
  <strong>   3:15 p.m</strong>
  <a href="#" class="btn btn--success">남자 10/10 (마감) </a>
  <a href="#" class="btn btn--danger">여자 10/10 (마감) </a>
  </p>
</center>

<center>
☆우리들만의 룰☆<br/>
남10, 여10이 모여 1:1테이블에서 십분씩, <br/>돌아가며 총 10명의 이성과 100분간 라운드 테이블 미팅을 진행해요.<br/>
100분간 설렘수치 높여봐요 우리 모두 다같이. <br/>
</center>

